* {
    padding: 0;
    margin: 0;
    /* outline: 1px red dotted; */
}

form div {
    padding: 3px;
    border: 1px solid black;
}

img {
    border: 1px black solid;
    margin: 2px auto;
    padding: 2px 2px 0 2px;
}

.container {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    margin: 0 auto;
    width: 80%;
}
.nav-container {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 10px;
}

.col-2{
    border: 1px blue solid;
    flex: 2;
    margin-right: 25px;
}

.col-1{
    border: 1px red solid;
    flex: 1;
}

  a {
    text-decoration: none;
    color: white;
  }

.button {
    margin: 1px;
    padding: 1px;
    border-radius: 10%;

}

.inline-demo {
    border: 1px red solid;
}

.first {
    display: inline-block;
    width: 400px;
    background-color: blue;
}

.second {
    display: inline-block;
    width: 400px;
    background-color: red;
}