* {
    padding: 0;
    margin: 0;
    /* outline: 1px red dotted; */
}

h1 {
    margin: 0 auto;
    width: 300px;
}

form div {
    padding: 3px;
    border: 1px solid black;
}

img {
    border: 1px black solid;
    margin: 2px auto;
    padding: 2px 2px 0 2px;
}

.button {
    margin: 1px;
    padding: 1px;
    border-radius: 10%;

}

.inline-demo {
    border: 1px red solid;
}

.first {
    display: inline-block;
    width: 400px;
    background-color: blue;
}

.second {
    display: inline-block;
    width: 400px;
    background-color: red;
}