body {
    width: 1000px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
}

.top {
    background-color: #5AC6F0;
    display: flex;
    justify-content: 
    space-around;
    padding: 15px;
}

img {
    height: 200px;
    /* margin: 15px; */
}

