@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-red: #cf2a27;
  --gold: #ff9900;
  --blue: #2c78e4;
}

/* utility classes */
body {
  background-color: #dddddd;
  font-family: 'Balsamiq Sans', cursive;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.justify-start {
  justify-content: flex-start;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.card {
  border: 3px solid rgb(119, 119, 119);
  margin-bottom: 1.5rem;
  background-color: white;
}

.card-body {
  padding: 1rem;
}

.card-content {
  flex: 1;
}

.card-header {
  background-color: var(--primary-red);
  color: white;
  padding: 0.5rem 1rem;
}

.text-muted {
  color: grey;
}

ol {
  margin-left: 1.5rem;
}

input {
  padding: 0.25rem 0.5rem;
}

.btn-go {
  margin-left: -1rem;
  border: 3px solid black;
  padding: 0.25rem 0.5rem;
  background-color: var(--gold);
  box-shadow: 2px 2px black;
}

.btn {
  border: 2px solid black;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-red {
  background-color: var(--primary-red);
  color: white;
}

.btn-gold {
  background-color: var(--gold);
}

.btn-blue {
  background-color: var(--blue);
  color: white;
}

.btn-white {
  background-color: white;
  width: 100%;
}

a {
  color: #4a4a4a;
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--primary-red);
  text-decoration: underline;
}

.active {
  color: var(--primary-red);
  text-decoration: underline;
}

/* nav classes */
nav {
  padding: 0.5rem 1.5rem;
  background-color: #999999;
}

.logo {
  width: 2.5rem;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

/* header classes */
header {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: white;
  margin-bottom: 1.5rem;
}

.menu {
  list-style: none;
}

/* posts classes */
.posts {
  flex: 2;
  align-self: flex-start;
}

.post-title {
  margin-bottom: 1rem;
}

.votes {
  text-align: center;
  align-self: flex-start;
}

.arrow {
  width: 2rem;
  cursor: pointer;
}

.placeholder {
  width: 100%;
  display: block;
}

.icon {
  width: 1.5rem;
}

.sidebar {
  flex: 1;
  align-self: flex-start;
}
